*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin:0;
    padding:0;
}
header{
    display:flex;
    justify-content:center;
    height: 120px;
}
.container {
    display:flex;
    justify-content:space-between;
    width:990px;
}
.logo{
    
    display:flex; 
    align-items:center; 
}
.menu{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display:flex;
   align-items:center;
}
nav li{
    list-style: none;
    margin:0;
    padding:0;
}
nav ul{
    display:flex;
}
nav a {
    display:block;
    padding:15px;
    text-decoration:none;
    text-transform:uppercase;
    color:#727272;
}
nav .active a, 
nav a:hover { 
    background-color: lightpink;
    color:#FFFF;
}
#banner {
    display: flex;
    justify-content: center;
    background-image:url('../images/hairsalon002.jpg');
    background-position:center;
    background-size:cover;
    height:670px;
}
.column {
    flex-direction:column;
}
.banner_headline {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.banner_headline h1 {
   color:#FFFFFF; 
   font-size:70px;
   text-shadow:2px 2px 2px #000000;
   margin:0;
   padding:0;
   max-width:350px;
}   
   .banner_headline h2 {
    color:#FFFFFF; 
    font-size:40px;
    text-shadow:2px 2px 2px #000000;
    margin:0;
   padding:0;
   max-width:300px;
   margin-top:30px;
}
.banner_options {
    height:210px;
    display:flex;
}
.banner1,
.banner2,
.banner3 {
    flex:1;
    color:#FFFFFF;    
    padding:20px;
}
.banner1 {
    background-color:rgba(255, 182, 193, 0.945);
}
.banner2 {
    background-color:rgba(240, 119, 137, 0.918);  
}
.banner3 {
    background-color:rgba(248, 103, 125, 0.911);   
    text-align: center;
}
.banner_title {
    font-size:22px;
    text-shadow:2px 2px 2px #000000;
}
.banner_desc {
    font-size:15px;
    margin-top:20px;
    margin-bottom:20px;
    font-weight:5px;
    text-shadow:2px 2px 2px #000000;
}
.banner_options a {
    display:block;
    border:2px solid #FFFFFF;
    padding:5px;
    color: #FFFFFF;
    font-size:15px;
    text-decoration:none;
    text-shadow:2px #000000;
}
.opening ul {  
    text-align: center;
    list-style-type: none;    
    font-size: 16px;  
    text-shadow:2px 2px 2px #000000;
    }  
#general {
    display:flex;
    justify-content:center;
}    
#general section {
    flex:2;
}    
#general aside {
    flex:1;
}
.widget_title {
    margin-top:30px;
    margin-bottom:20px;
}
.widget_title_text {
    color:#000000;
    font-size:21px;
    font-weight:bold;
}
.widget_title_bar {
    width:50px;
    height:2px;
    background-color: rgba(231, 114, 177, 0.979);
    margin-top:10px;
}
.flex {
   display:flex;
   flex-wrap:wrap;
}
article {
    flex:1;
    min-width:400px;
    margin-right:20px;
}
article a {
    text-decoration:none;
    text-align:justify;
}
article a {
    text-decoration:none;
}
article .news_data {
    display:flex;
}
article .news_posted_at {
    background-color:rgba(231, 114, 177, 0.979);
    color: #FFFFFF;
    font-size:12px;
    padding:10px;
    margin-right:2px;
} 
article .news_comments {
background-color:lightpink;
color: #FFFFFF;
font-size:12px;
padding:10px;
}  
article .news_thumbnail{
    margin-top:30px;
}
article .news_thumbnail img {
    width:100%;
    height:auto;
}  
article .news_title {
    margin-top:25px;
    margin-bottom:25px;
    color: #242121;
    font-size: 23px;
}
article .news_resume {
    color:#5c5c5c;
    line-height:20px;
    font-size:14px;
    margin-bottom:30px;
}
footer{
    display:flex;
    justify-content: center;
}
.footer_menu {
    display:flex;
}
.fm_1, .fm_2, .fm_3 {
    flex:1;
    color: #FFFFFF;
    padding:3px;
    text-align:center;
    height: 100px;
}
.fm_1 {
    background-color:rgba(255, 182, 193, 0.945);
}
.fm_2 {
    background-color:rgba(240, 119, 137, 0.801);  
}
.fm_3 {
    background-color:rgb(248, 103, 125);   
}
.footer_menu a {
    display:block;
    text-decoration:none;
    padding:20px;
    color: #FFFFFF;
}
.footer_area {
    display:flex;
}
.footer_areaitem {
    flex:1;
    font: size 20px;
    padding:20px;
}
.flexcolumn {
    flex-direction:column;
}
.footer_copy {
    border-top:2px solid rgb(231, 114, 177, 0.979);
    height:40px;
    line-height:40px;
    color:#5c5c5c;
    font: size 12px;
    margin: top 30px;
}
.footer_copy a {
    text-decoration:none;
    color: #000000;
}
.menumobile {
    display:none;
    width: 40px;
    height:40px;
    margin-top:40px;
    margin-bottom:40px;
    margin-right:20px;
}
.mm_line {
    height:3px;
    background-color:lightpink;
}
@media (max-width:600px) {
    #banner{
     background-image:url('../images/hairdresser.jpg');   
    }
    .banner_headline{
    padding:30px; 
    }
    .banner_headline h1 {
    font-size:55px; 
    }   
    .banner_headline h2 {
    font-size:17px;    
    }
    .banner_options {
    height:auto;    
    flex-direction:column;
    padding:20px;
    }
    .container {
    flex-direction:column;    
    padding: 20px;
    }
    .widget_body{
    width:50px;   
    font-size:10px; 
    }
    .widget_1{
    padding-top:350px;    
    }
    #geral section{
    padding:20px;     
    }
    .footer_menu {
    font-size:12px;  
    width:250px;
    }
    .footer_area{   
     flex-direction:column;
    width:250px;
    }
    .footer_areaitem{   
        flex-direction:column;
       width:250px;
       }
    .footer_copy{
    padding-left:20px; 
    }
    nav ul {
        flex-direction:column;
        display:none;
    }
    header .container {
    flex-direction:row;    
    }
    nav ul {
        flex-direction:column; 
        display:none;   
        position:absolute;
        left:0;    
         width:100%;
        background-color: #FFFFFF;
    }
    header {
        height:auto;
    }
    .logo {
    padding-left:20px;    
    }
    .menumobile {
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
} 

